/* Navbar */

.nav {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding:10px;
    background-color: aqua;
    height: 50px;
}

.search-box{
    width: 250px;
    height: 40px;
    border-radius: 40px;
    border-color: black;
    box-shadow: 0 2px 4px rgba(39, 96, 241, 0.727);
  

}

#btn{
    height: 40px;
    border-radius: 40px;
    width: 80px;
    border-color: black;
    box-shadow: 0 2px 4px rgba(39, 96, 241, 0.727);
    cursor: pointer;
    margin-right: 30px;
   
}

#btn:hover{
    background-color: chartreuse;
    color: darkorange;
}

#heading{
    font-size: 30px;
    margin-left: 30px;
}




#header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid gray;
  }
  
  #header input {
    width: 30%;
    border: 2px solid gray;
    border-radius: 5px;
  }
  
  h2 {
    margin: 0;
  }
  
  form {
    margin: 30px;
    width: 100%;
  }
  
  form input {
    height: 35px;
    width: 40%;
    border: 2px solid yellowgreen;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  form button {
    height: 40px;
    width: 10%;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    background-color: yellowgreen;
  }
  
  ul {
    list-style-type: none;
    background-color: pink;
    padding: 5px;
    margin: 0 30px;
    width: 50%;
    border-radius: 5px;
  }
  
  li {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: lightyellow;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .delete-btn {
    align-self: flex-end;
    background-color: tomato;
    border: none;
    border-radius: 2px;
    padding: 5px 18px;
  }
  
  .edit-btn {
    align-self: flex-end;
    background-color: lightblue;
    border: none;
    border-radius: 2px;
    padding: 5px 10px;
    margin-top: 5px;
  }